


h2{
    font-family: Monsterrat Bold;
    color: white;
    font-size: 35px;
    margin: 0px 315px;
    
}

p{
    color: white;
    font-family: Merriweather Regular;
    font-size: 20px;
    margin:30px 315px;
   width: 950px;
}
